/*
 * Custom styles for the child theme
 *
 * 1. Custom global styles
 * 2. Single Book page
 *   2.1. Task 5.1. - Section most recent book
 *   2.2. Task 4.1. - Section single book
 *   2.3. Task 5.2. - Section list of 5 books from given genre
 *   2.4. Task 6 - AJAX callback
 * 3. Genre page (taxonomy)
 *
 */

/*
 * 1. Custom global styles
 */
#site-header,
#site-footer {
    background-color: #F4F1E8;
    color: #9B4819;
}
.footer-top-hidden #site-footer {
    margin-top: 0;
}
.section-container {
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
}

/*
 * 2. Single Book page
 */

/* 2.1. Task 5.1. - Section most recent book */
.section-most-recent-book {
    padding: 2rem;
}
.most-recent-book {
    display: flex;
    justify-content: center;
    align-items: center;
}
.most-recent-book-title,
.most-recent-book-title a {
    position: relative;
    color: #9B4819;
}
.most-recent-book-title a {
    text-decoration: none;
}
.most-recent-book-title a:hover {
    color: #191919;
}

/* 2.2. Task 4.1. - Section single book */
.section-single-book,
.section-most-recent-book {
    background-color: #F4F1E8;
    color: #191919;
}
.hero-single-book {
    display: flex;
    margin: 0;
    padding: 0;
}
.single-book .hero-single-book .content-wrapper {
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    order: 2;
}
.single-book .hero-single-book .thumbnail-wrapper {
    background-color: #BD8F53;
    order: 1;
    padding: 3rem;
    width: min(33%, 34rem);
    min-height: 59rem;
    max-height: 34rem;
    display: flex;
    align-items: center;
}
.single-book-title {
    color: #191919;
}
.single-book-genre {
    margin-bottom: 1rem;
}
.single-book-genre .genre,
.single-book-genre a {
    color: #9B4819;
    font-weight: bold;
}
.single-book-genre a:hover {
    color: #191919;
}
.single-book-date .date {
    font-size: small;
}

/* 2.3. Task 5.2. - Section list of 5 books from given genre */
.section-genre-list {
    background-color: #314028;
    color: #F4F1E8;
}
.genre-list-header {
    position: relative;
}
.genre-list-header:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 500px;
    height: 3px;
    background-color: #BD8F53;
}
.genre-list-item a {
    color: #F4F1E8;
    text-decoration: none;
}
.genre-list-item a:hover {
    color: #BD8F53;
}

/* 2.4. Task 6 - AJAX callback */
.section-ajax-list {
    background-color: #9B4819;
    color: #F4F1E8;
}
.ajax-list-header {
    position: relative;
}
.ajax-list-header:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 610px;
    height: 3px;
    background-color: #BD8F53;
}
.ajax-book-item,
.ajax-book-item a {
    font-size: 2.4rem;
    font-weight: 700;
    color: #F4F1E8;
    text-decoration: none;
}
.ajax-book-item a:hover {
    color: #BD8F53;
}
.ajax-book-date,
.ajax-book-genre,
.ajax-book-excerpt {
    font-size: small;
}

/*
 * 3. Genre page (taxonomy)
 */
.section-book-genre-header {
    background-color: #F4F1E8;
}
.book-genre-header {
    color: #9B4819;
    text-align: center;
}
.section-book-genre {
    background-color: #314028;
    color: #F4F1E8;
}
.book-genre-list-item {
    font-size: 3.2rem;
}
.book-genre-list-item a {
    color: #F4F1E8;
    text-decoration: none;
}
.book-genre-list-item a:hover {
    color: #BD8F53;
}
